{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}
<style>
    .container {
     text-align: left;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .content-section {
        width: 100%;
    }

    h2 {
        text-align: left;
    }

    .placement-image {
        min-height: 300px;
        width: 100%;
        display: block;
        background-color: brown;
    }

    .profile-name {
        text-align: left;
        float: left;
    }

    .profile-title {
        text-align: right;
        float: right;
    }
</style>


<div class="container">
    <div class="row">
       <div class="col">
            <br/><br/>
            <h2>Staff Contact Page</h2>
            <p>We at GreenWorld pride ourself on creating ecologically friendly products which help ensure the world will be
                a stable, eco-friendly place! Our mission is to create a plethora of ecologically sustainable products for 
                everyone around the world to enjoy.
            </p>
       </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Meet Our Team</h2>
        </div>
    </div>
</div>

<div class="container">
    
</div>

<div class="container marketing">
    <br>
    
     <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bossman</h5>
            <!--Image goes here-->
            <div class="placement-image"></div>
            <br/>
            <h5 class="profile-name">Name</h5>
            <h5 class="profile-title">Title</h5>
            <br/><br/>
            <div class="card-text">Email: example@gmail.com</div>
            <div class="card-text">Phone: 221 1444 7670</div>
            <div class="card-text">Mobile: 022 345 6789</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Person 1</h5>
            <!--Image goes here-->
            <div class="placement-image"></div>
            <br/>
            <h5 class="profile-name">Name</h5>
            <h5 class="profile-title">Title</h5>
            <br/><br/>
            <div class="card-text">Email: example@gmail.com</div>
            <div class="card-text">Phone: 221 1444 7670</div>
            <div class="card-text">Mobile: 022 345 6789</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Person 2</h5>
            <!--Image goes here-->
            <div class="placement-image"></div>
            <br/>
            <h5 class="profile-name">Name</h5>
            <h5 class="profile-title">Title</h5>
            <br/><br/>
            <p class="card-text">
                Email: example@gmail.com<br>
                Phone: 221 1444 7670<br>
                Mobile: 022 345 6789<br>
            </p>
          </div>
        </div>
      </div>

      <!--
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Furniture</h5>
            <p class="card-text">Check out our range sustainable furniture items.This will bring up a listview of furniture products</p>
            <a href="#" class="btn btn-success">Go Now!</a>
          </div>
        </div>
     </div>

     <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All</h5>
            <p class="card-text">Check out all our sustainable products that will help you in your journey. This will bring up a listview of all products</p>
            <a href="#" class="btn btn-success">Go Now!</a>
          </div>
        </div>
     </div>-->
    </div>
</div>
<br>
{% endblock content %}