{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}
<style>
    .content-section {
        width: 100%;
    }

    h2 {
        text-align: left;
    }

    .card{
        margin: 20px 0 0 0;
    }

    .placement-image {
        min-height: 300px;
        width: 100%;
        display: block;
        background-color: brown;
    }

    .profile-name {
        text-align: left;
        float: left;
    }

    .profile-title {
        text-align: right;
        float: right;
    }

    .profile {
        margin: auto;
    }
</style>


<div class="container">
    <div class="row">
       <div class="col-md-12">
            <br/><br/>
            <h2>Staff Contact Page</h2>
            <p>We at GreenWorld pride ourself on creating ecologically friendly products which help ensure the world will be
                a stable, eco-friendly place! Our mission is to create a plethora of ecologically sustainable products for 
                everyone around the world to enjoy.
            </p>
       </div>
    </div>

    <div class="row ">
        <div class="col-md-12 justify-content-start">
            <h2>Meet Our Team</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!--Image goes here-->
                    <div class="placement-image"></div>
                    <br/>
                    <h5 class="profile-name">Name</h5>
                    <h5 class="profile-title">CEO</h5>
                    <br/><br/>
                    <div class="card-text">Email: example@gmail.com</div>
                    <div class="card-text">Phone: 221 1444 7670</div>
                    <div class="card-text">Mobile: 022 345 6789</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!--Image goes here-->
                    <div class="placement-image"></div>
                    <br/>
                    <h5 class="profile-name">Name</h5>
                    <h5 class="profile-title">CTO</h5>
                    <br/><br/>
                    <div class="card-text">Email: example@gmail.com</div>
                    <div class="card-text">Phone: 221 1444 7670</div>
                    <div class="card-text">Mobile: 022 345 6789</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!--Image goes here-->
                    <div class="placement-image"></div>
                    <br/>
                    <h5 class="profile-name">Name</h5>
                    <h5 class="profile-title">Developer</h5>
                    <br/><br/>
                    <div class="card-text">Email: example@gmail.com</div>
                    <div class="card-text">Phone: 221 1444 7670</div>
                    <div class="card-text">Mobile: 022 345 6789</div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!--Image goes here-->
                    <div class="placement-image"></div>
                    <br/>
                    <h5 class="profile-name">Name</h5>
                    <h5 class="profile-title">Accountant</h5>
                    <br/><br/>
                    <div class="card-text">Email: example@gmail.com</div>
                    <div class="card-text">Phone: 221 1444 7670</div>
                    <div class="card-text">Mobile: 022 345 6789</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!--Image goes here-->
                    <div class="placement-image"></div>
                    <br/>
                    <h5 class="profile-name">Name</h5>
                    <h5 class="profile-title">Designer</h5>
                    <br/><br/>
                    <div class="card-text">Email: example@gmail.com</div>
                    <div class="card-text">Phone: 221 1444 7670</div>
                    <div class="card-text">Mobile: 022 345 6789</div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
{% endblock content %}